<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>If & For</title>
    <link rel="stylesheet" href="/css/estilo.css">
    <script src="/js/vue.min.js"></script>
</head>
<body class="exercicio">

    <div id="app">
        <button @click='{showItem = !showItem}'>Click me</button>
        <p v-if="showItem">Heyy</p>
        <p v-for="(aluno, i) in alunos">
            {{aluno.nome}}  teve nota {{aluno.nota}}
            <span v-if="aluno.nota >= 9">Quadro de Honra</span>
            <span v-else-if="aluno.nota >= 7">Aprovado</span>
            <span v-else-if="aluno.nota >= 3">Recuperação</span>
            <span v-else>Reprovado</span>
        </p>
    </div>

    <script>
        new Vue({
            el: "#app",
            data: {
                showItem: false,
                alunos: [
                    { nome: "Ana", nota: 7.8 },
                    { nome: "João", nota: 9.1 },
                    { nome: "Claúdio", nota: 6.4 },
                    { nome: "Kleber", nota: 2.8 }
                ]
            }
        })
    </script>
</body>
</html>